NEXT_PUBLIC_EMAIL=your_email@college.edu
NEXT_PUBLIC_NAME=Your Name
NEXT_PUBLIC_ROLL_NO=your_roll_number
NEXT_PUBLIC_ACCESS_CODE=your_access_code
NEXT_PUBLIC_CLIENT_ID=your_client_id
NEXT_PUBLIC_CLIENT_SECRET=your_client_secret
